[submodule "Dependencies/External/Birdsong"]
	path = Dependencies/External/Birdsong
	url = https://github.com/sjrmanning/Birdsong.git
[submodule "Dependencies/External/Starscream"]
	path = Dependencies/External/Starscream
	url = https://github.com/daltoniam/Starscream.git
[submodule "Dependencies/External/QRCode"]
	path = Dependencies/External/QRCode
	url = git@github.com:q231950/QRCode.git
[submodule "Dependencies/External/MTBBarcodeScanner"]
	path = Dependencies/External/MTBBarcodeScanner
	url = git@github.com:mikebuss/MTBBarcodeScanner.git
[submodule "Dependencies/External/RxSwift"]
	path = Dependencies/External/RxSwift
	url = git@github.com:ReactiveX/RxSwift.git
