<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Panda Electric Mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B6CB73C1D4CAAA9005C40D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6CB7521D4CAAA9005C40D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6CB75D1D4CAAA9005C40D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
